<%- contentFor('body') %>

<div class="jumbotron text-center">

  Hello World

</div>

<h1>Alunos</h1>

<ul>

    <% lista.forEach(function(aluno) { %>

        <li><%= aluno.nome %> (<%= aluno.matricula %>)</li>

    <% }); %>

<ul>

<a href="/register">Register new</a>