<%- contentFor('body') %>
<br>
<br>
<br>
<div style="display: flex; text-align: center">
    <% if(contador > 0) { %>
        <div style="width: 49%; ">
            <a href="/cadastroAluno">Registrar novo aluno</a>

        </div>            
    <% }; %>

    <div style="width: 49%">
    
        <a href="/cadastroDisciplina">Registrar nova disciplina</a>
    </div>

</div><br>
<br>
<br><br>
<br>
<br>