<%- contentFor('body') %>

<h1>Registro</h1>

<form method="post" action="/register">

  Nome: <input type="text" name="nome" /><br/>

  Matrícula: <input type="text" name="matricula" /><br/>

  <input type="submit" value="Enviar" />

</form>